body {
    text-align: center;
}
h1 {
    color: #007FFF;
}
.nav {
    border-radius: 10px;
    border-color: black;
    background-color: aqua;
    padding: 5%
}
footer {
    color: #007FFF;
    opacity: 50%;
}
.valbuttons {
    padding: 10px;
}
.contract {
    color: rgb(200, 174, 152);
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    max-width: 10cm
}
ul {
    margin-right: auto;
    margin-left: auto;
    max-width: 10cm
}