footer {
    color: grey;
    font-size: 11px;
    text-align: center;
}
.continue {
    color: blue;
}

.entry {
    color: grey;
    font-size: 10px;
    font-style:italic;
    max-width: 100px
}


img {
    pointer-events: none;
}