body {
    color: rgb(0, 0, 0)
}
h1 {
    font-family: 'Comic Sans MS', cursive;
    margin: 5%;
    border-style:solid;
    border-top-width: 10px;
    border-bottom-width: 70px;
    border-left-width: 150px;
    border-right-width: 30px;
}
h3 {
    font-family: 'Papyrus', cursive;
    margin: 70%;
}
.invis {
    color: white;
}
.cen {
    text-align: center;
}