html {
    text-align: center;
    background-color: black;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color:#2bb7e5;
}
h1 {
    color: #ffd900;
    background-color: rgb(80, 78, 0);
}
.notice {
    opacity: 70%;
}
.nav {
    border-radius: 50px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    border-color: black;
    background-color: #ffd900;
    padding: 2%
}
footer {
    opacity: 60%;
    padding: 10%
}
.itemlist {
    padding: 5%;
    margin-right: auto;
    margin-left: auto;
}
.item {
    background-color: rgb(44, 44, 44);
    max-width: 230px;
    padding-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
}
.item > img {
    border-color: white;
    border-width: 10px;
}
.valbuttons {
    padding: 10px;
}
.contract {
    color: rgb(200, 174, 152);
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    max-width: 10cm
}
ul {
    margin-right: auto;
    margin-left: auto;
    max-width: 10cm
}